body {
    font-family: 'Verdana', cursive;
    font-size: 16px;
    margin: %;
}

.flood {
    color: blue;
    font-size: 16px;
}

.hongsue {
    font-size: 18px;
    color: #362525;
}

.korean {
    font-size: 16px;
    color: #362525;
}

.title {
    font-size: 16px;
}

.information {
    font-size: 16px;
    color: #5e5a5a;
}

.name {
    font-size: 16px;
}

.fix {
    position: fixed;
    bottom: 1%;
    right: 1%;
    width: 20%;
}
